.container{
    width: 1300px;
    height: 700px;
    /* background-color: bisque; */
}
.title{
    width: 100%;
    height: 4%;
    font-size: 25px;
    margin-top: 20px;
    font-weight: bold;
}
.baseballTable{
    width: 100%;
    height: 95%;
    margin-top: 30px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
}
th{
    height: 9%;
    font-weight: normal;
    background: #f4f4f8;
    color: #b9b9b9;
    text-align: left;
    font-size: 17px;
}
thead{
    height: 10%;
}
tbody{
    height: 90%;
}


th, td {
    padding: 0px 15px;
     border-bottom: 1px solid #e6e6e6;
}


/* tr:first-child th:first-child {
    border-bottom: 30px solid #1f8fff;
} */
/* td:first-child {
    border-bottom: 1px solid #c6c9cc;
} */
tr:nth-child(even) td {
    background: hsla(0, 0%, 85%, .09);
}
.grade{
    /* width: 1%; */
    
}
.name{
    width: 58%;
}
.name>div{
    margin: 0px;
    display: flex;
    justify-content: left;
}

.name img{
    width: 32px;
    height: 32px;
    
}
.name span{
    width: 32px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
}
.round, .win, .compare, .lose, #winRateId, .dis, .seqLose{
    color: black;
    text-align: center;
}
.winRate{
    font-weight: 700;
    position: relative;
    text-align: center;
}

.winRate:after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(74, 139, 252, 0.06);
}
